@font-face {
  font-family: "Yu Gothic";
  src: url(../fonts/YuGothR.ttc);
}

@font-face {
  font-family: "Gothic";
  src: url(../fonts/95baeeb6569675b98035b8d3b4d95657.woff2);
}

$font-gothic: "Gothic";
